*{
    padding: 0%;
    margin: 0%;
    list-style: none;
}


header{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url(https://www.bmw.es/content/dam/bmw/common/all-models/m-series/m8-coupe/2022/onepager/bmw-m8-coupe-onepager-sp-desktop.jpg.asset.1642518221018.jpg);

}
.titulo{
    position: absolute;
    bottom: 10%;
    left: 3%;
}
nav{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between; /* crea un estacio entre enlaces e iconos */
    align-items: center; /*centra los elementos */
    padding: 10px; /agrega aire entre los elementos de ambas listas/
}

.enlaces{
     width: 39%;
    height: 10%;
    display: flex;
    padding: 30px;
    justify-content: space-between;
}
    


a{
    color: white;
    text-decoration: none; /*usa esto siempre para quitar la linea inferior de 
    cualquier elemento que tenga enlace*/
}
.iconos { 
    display: flex;
}

.iconos li {
margin-right: 80px;
}

.iconos img {
    width: 30px;
    margin-right: 40px;
    justify-content: space-around;
    
}
img{
    background-color: white;
}
.logo{
    width: 80px;
    height: auto;
}
nav::after{
    content:"";
    width: 86%;
    height: 1px;
    background-color: grey;
    position: absolute;
    top: 70px;
}

button{
    margin-left: 2%;
    background-color: blueviolet;
    padding: 10px 70px;
    color: white;
    border-radius: 20px;
    border: none;
    
}
.titulo p{
    padding: 10px;
    color: red;
    font-size: 30px ;

}
.titulo h1{
    color: rgb(255, 255, 255);
}
.modelos{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 110px;
    padding: 15px;
    
}
.listamodelos{
    width: 100%;
    

}
.lista{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: aqua;
}
#negrita{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    font-weight: 600;

}



.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
}
 
.imagenes {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
 
.imagenes img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
 
p {
    margin: 8px 0;
}
.Configurar{
    font-weight: 600;
}
 
p:last-child {
    font-weight: bold;
    color: #3498db;
    cursor: pointer;
    text-decoration: underline;
}
 
.imagenes:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
.articulos{
    width: 70%;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 190px;
}
article img{
    width: 75%;
    margin-top: 4%;
    
}
article{
    border: 1px solid #ddd;
    width: 21%;
    height: 400px;
    text-align: center;
    
}
article h4{
    font-size: 35px;
}
 p{
    text-decoration: none;
}
.footer{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.box{
    width: 40%;
    height: 50%;
    border: rgb(194, 182, 182);
    margin-left: 200px;
    background-color: rgb(194, 182, 182);
}
.box img{
    width: 40px;
    height: 45px;
    left: 20px;
    background-color: rgb(194, 182, 182);
}
.content{
    text-align: center;
}



